App_WebReferences/ServiceReferenceKideg/KideggService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="HelloWorld">
        <s:complexType />
      </s:element>
      <s:element name="HelloWorldResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="HelloWorldResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="accesoA">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="u" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="p" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="accesoAResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="accesoAResult" type="tns:ArrayOfString" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfString">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="string" nillable="true" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="accesoJ">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="u" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="p" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="accesoJResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="accesoJResult" type="tns:ArrayOfString" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="insertar">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="nombre" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="apellidopaterno" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="apellidomaterno" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="edad" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="genero" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="insertarResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="insertarResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="eliminar">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="clave" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="eliminarResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="eliminarResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="actualizar">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="clave" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="nombre" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="apellidopaterno" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="apellidomaterno" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="edad" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="genero" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="actualizarResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="actualizarResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="dsNiños">
        <s:complexType />
      </s:element>
      <s:element name="dsNiñosResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="dsNiñosResult">
              <s:complexType>
                <s:annotation>
                  <s:appinfo>
                    <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
                  </s:appinfo>
                </s:annotation>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="insertarPuntaje">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="b" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="c" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="insertarPuntajeResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="insertarPuntajeResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="HelloWorldSoapIn">
    <wsdl:part name="parameters" element="tns:HelloWorld" />
  </wsdl:message>
  <wsdl:message name="HelloWorldSoapOut">
    <wsdl:part name="parameters" element="tns:HelloWorldResponse" />
  </wsdl:message>
  <wsdl:message name="accesoASoapIn">
    <wsdl:part name="parameters" element="tns:accesoA" />
  </wsdl:message>
  <wsdl:message name="accesoASoapOut">
    <wsdl:part name="parameters" element="tns:accesoAResponse" />
  </wsdl:message>
  <wsdl:message name="accesoJSoapIn">
    <wsdl:part name="parameters" element="tns:accesoJ" />
  </wsdl:message>
  <wsdl:message name="accesoJSoapOut">
    <wsdl:part name="parameters" element="tns:accesoJResponse" />
  </wsdl:message>
  <wsdl:message name="insertarSoapIn">
    <wsdl:part name="parameters" element="tns:insertar" />
  </wsdl:message>
  <wsdl:message name="insertarSoapOut">
    <wsdl:part name="parameters" element="tns:insertarResponse" />
  </wsdl:message>
  <wsdl:message name="eliminarSoapIn">
    <wsdl:part name="parameters" element="tns:eliminar" />
  </wsdl:message>
  <wsdl:message name="eliminarSoapOut">
    <wsdl:part name="parameters" element="tns:eliminarResponse" />
  </wsdl:message>
  <wsdl:message name="actualizarSoapIn">
    <wsdl:part name="parameters" element="tns:actualizar" />
  </wsdl:message>
  <wsdl:message name="actualizarSoapOut">
    <wsdl:part name="parameters" element="tns:actualizarResponse" />
  </wsdl:message>
  <wsdl:message name="dsNiñosSoapIn">
    <wsdl:part name="parameters" element="tns:dsNiños" />
  </wsdl:message>
  <wsdl:message name="dsNiñosSoapOut">
    <wsdl:part name="parameters" element="tns:dsNiñosResponse" />
  </wsdl:message>
  <wsdl:message name="insertarPuntajeSoapIn">
    <wsdl:part name="parameters" element="tns:insertarPuntaje" />
  </wsdl:message>
  <wsdl:message name="insertarPuntajeSoapOut">
    <wsdl:part name="parameters" element="tns:insertarPuntajeResponse" />
  </wsdl:message>
  <wsdl:portType name="KideggServiceSoap">
    <wsdl:operation name="HelloWorld">
      <wsdl:input message="tns:HelloWorldSoapIn" />
      <wsdl:output message="tns:HelloWorldSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="accesoA">
      <wsdl:input message="tns:accesoASoapIn" />
      <wsdl:output message="tns:accesoASoapOut" />
    </wsdl:operation>
    <wsdl:operation name="accesoJ">
      <wsdl:input message="tns:accesoJSoapIn" />
      <wsdl:output message="tns:accesoJSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="insertar">
      <wsdl:input message="tns:insertarSoapIn" />
      <wsdl:output message="tns:insertarSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="eliminar">
      <wsdl:input message="tns:eliminarSoapIn" />
      <wsdl:output message="tns:eliminarSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="actualizar">
      <wsdl:input message="tns:actualizarSoapIn" />
      <wsdl:output message="tns:actualizarSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="dsNiños">
      <wsdl:input message="tns:dsNiñosSoapIn" />
      <wsdl:output message="tns:dsNiñosSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="insertarPuntaje">
      <wsdl:input message="tns:insertarPuntajeSoapIn" />
      <wsdl:output message="tns:insertarPuntajeSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="KideggServiceSoap" type="tns:KideggServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="accesoA">
      <soap:operation soapAction="http://tempuri.org/accesoA" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="accesoJ">
      <soap:operation soapAction="http://tempuri.org/accesoJ" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="insertar">
      <soap:operation soapAction="http://tempuri.org/insertar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="eliminar">
      <soap:operation soapAction="http://tempuri.org/eliminar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="actualizar">
      <soap:operation soapAction="http://tempuri.org/actualizar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="dsNiños">
      <soap:operation soapAction="http://tempuri.org/dsNiños" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="insertarPuntaje">
      <soap:operation soapAction="http://tempuri.org/insertarPuntaje" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="KideggServiceSoap12" type="tns:KideggServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap12:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="accesoA">
      <soap12:operation soapAction="http://tempuri.org/accesoA" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="accesoJ">
      <soap12:operation soapAction="http://tempuri.org/accesoJ" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="insertar">
      <soap12:operation soapAction="http://tempuri.org/insertar" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="eliminar">
      <soap12:operation soapAction="http://tempuri.org/eliminar" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="actualizar">
      <soap12:operation soapAction="http://tempuri.org/actualizar" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="dsNiños">
      <soap12:operation soapAction="http://tempuri.org/dsNiños" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="insertarPuntaje">
      <soap12:operation soapAction="http://tempuri.org/insertarPuntaje" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="KideggService">
    <wsdl:port name="KideggServiceSoap" binding="tns:KideggServiceSoap">
      <soap:address location="http://localhost:49167/KideggService.asmx" />
    </wsdl:port>
    <wsdl:port name="KideggServiceSoap12" binding="tns:KideggServiceSoap12">
      <soap12:address location="http://localhost:49167/KideggService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>